In [1]:
# DICTIONARY
dict1={1:'abc',1:'def'}
print(dict1[1])

def

In [10]:
# print the number of vowels from a string
myvowel={}
for char in 'heyaia':
    if char in 'aeiou':
        if char not in myvowel:
            myvowel[char]=1
        else:
            myvowel[char]=myvowel[char]+1
print(myvowel)

{'e': 1, 'a': 2, 'i': 1}

In [19]:
mylist=[10,20,30,40,11]
mydict1={}
target=50
for i in range(0,len(mylist)):
    mydict1[mylist[i]]=i
print(mydict1) 

for i in mylist:
    x=target-i
    if(x in mydict1):
        print('Target is match :',x,i)

{10: 0, 20: 1, 30: 2, 40: 3, 11: 4}
Target is match : 40 10
Target is match : 30 20
Target is match : 20 30
Target is match : 10 40

In [34]:
my_dict1={}
for i in range(65,91):
    my_dict1[i]=chr(i)
print(my_dict1)

data1="abcd"
for char in data1:
    x=ord(char)-32
    if(x in my_dict1):
        print(my_dict1[x])

{65: 'A', 66: 'B', 67: 'C', 68: 'D', 69: 'E', 70: 'F', 71: 'G', 72: 'H', 73: 'I', 74: 'J', 75: 'K', 76: 'L', 77: 'M', 78: 'N', 79: 'O', 80: 'P', 81: 'Q', 82: 'R', 83: 'S', 84: 'T', 85: 'U', 86: 'V', 87: 'W', 88: 'X', 89: 'Y', 90: 'Z'}
A
B
C
D

In [43]:
# SET 
# SET DO NOT HAVE ANY INDEX POSITION 
myset={1,2,3,4,'a',5,5}
print(myset)

{1, 2, 3, 4, 5, 'a'}

In [42]:
myset.add(6)
print(myset)

{1, 2, 3, 4, 5, 6}

In [54]:
# ZIP
# ENUMERATE 
# UNION , INTERSECTION , DIFFERENCE , DISJOIN , SYMMETRIC DIFFERENCE , SUPERSET , SUBSET

In [53]:
# UNION : COMBINES UINQUE ELEMENTS FROM BOTH SETS
a={1,2,3,5}
b={4,5,6,2}
print(a|b)
print(a.union(b))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [52]:
# INTERSECTION : COMBINES COMMON ELEMENTS FROM BOTH SETS
print(a&b)
print(a.intersection(b))

{2, 5}
{2, 5}

In [2]:
myval = {10: 'shivangi', 20 : 'shaily'}
for i in myval:
    print(myval[i])

shivangi
shaily

In [4]:
myval.items()

dict_items([(10, 'shivangi'), (20, 'shaily')])

In [5]:
for i in myval.items():
    print(i)

(10, 'shivangi')
(20, 'shaily')

In [7]:
# becoz sets are unordered
for i in {10,20,30,'a',40}:
    print(i)

40
10
20
a
30

In [3]:
# VALID PARENTHESIS
data1="{"
mylist1=[]
x=False
for char in data1:
    if char=="(" or char=="{":
        mylist1.append(char)
    elif(len(mylist1)>0):
        if char==")" and "("==mylist1.pop():
            x=True
        elif char=="}" and "{"==mylist1.pop():
            x=True
        else:
            x=False

if(x==True):
    print("valid")
else:
    print("Invalid")

Invalid

In [6]:
# PASCAL TRIANGLE