In [2]:
# Write a program to print the first 25 odd numbers in list
mylist=[]
for i in range(1,51,2):
        mylist.append(i)
print(mylist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [3]:
mylist1=[num for num in range(1,51,2)]
print(mylist1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [4]:
# Arrange string characters such that lowercase letters should come first
str1='aABbcCDd'
lower1=''.join(i for i in str1 if i.islower())
capital1=''.join(i for i in str1 if not i.islower())

result=lower1+capital1
print(result)

abcdABCD

In [8]:
# Count all letters, digits, and special symbols from a given string
str2="P@#yn26at^&i5ve"

In [9]:
# Write a program to get count of unique values inside a list
list1=[1,2,2,3,3,4,4,5,6,6]

In [11]:
# Write a program to print the count of even and odd number from a list
list2=[1,2,3,4,5,6,7,8,9]
count_even=0
count_odd=0
for i in range(len(list2)):
    if(i%2==0):
        count_even+=1
    else:
        count_odd+=1
print('total even numbers in a list',count_even)
print('total odd numbers in a list',count_odd)

total even numbers in a list 5
total odd numbers in a list 4

In [12]:
# Write a program to get the smallest number in a list
list3=[2,3,4,1,5,6,7,8,2,0]
min1=list3[0]
for i in list3:
    if(i<min1):
        min1=i
print(min1)

0

In [15]:
# Write a program to get sum of number of digit in a list
list4=[12,34]
count=0
for i in list4:
    for digit in str(i):
        count+=int(digit)
print(count)

10

In [18]:
# Write a program to reverse a List in Python
list5=[1,2,3,4,5]
my_list1=[]
size=len(list5)-1
while size>=0:
    my_list1.append(list5[size])
    size-=1
print(my_list1)

[5, 4, 3, 2, 1]

In [19]:
# Create a Python set such that it shows the element from both lists in a pair

In [20]:
# Removal all characters from a string except integers