In [4]:
n=4
num=64
for i in range(1,n):
    for j in range(1,i+1):
        num+=1
        print(num,end=" ")
    print()

65
66 67
68 69 70

In [5]:
n=4
chr1=64
for i in range(1,n):
    for j in range(1,i+1):
        chr1+=1
        print(chr(chr1),end=" ")
    print()

A
B C
D E F

In [6]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [11]:
def func(str1):
    str2=""
    for i in str1:
        if(i==' '):
            str2+=i
        elif(ord(i)%2==0):
            str2+=chr(ord(i)-32)
        else:
            str2+=i
    print(str2)

func("to be or not to be")

To Be oR NoT To Be

In [14]:
def func2(a,b,c):
    if(a==b==c):
        print(3)
    elif(a==b or b==c or a==c):
        print(2)
    else:
        print(1)

func2(3,2,1)

1

In [5]:
n=4
for i in range(n,0,-1):
    for j in range(0,i+1):
        print(j,end=" ")
    print()

0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [7]:
n=5
num=9
for i in range(n,0,-1):
    for j in range(1,i+1):
        num+=1
        print(num,end=" ")
    print()

10 11 12 13 14
15 16 17 18
19 20 21
22 23
24

In [15]:
n=4
for i in range(1,n+1):
    for j in range(i,n+1):
            print(j,end=" ")
    print()

1 2 3 4
2 3 4
3 4
4

In [18]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        if(j%2==0):
            print(0,end=" ")
        else:
            print(1,end=" ")
    print()

1 0 1 0 1
1 0 1 0
1 0 1
1 0
1

In [2]:
n=5
for i in range(1,n+1):
    for j in range(n-i+1):
        if(j%2==0):
            print(i,end=" ")
        else:
            print(0,end=" ")
    print()

1 0 1 0 1
2 0 2 0
3 0 3
4 0
5

In [7]:
n=4
for i in range(1,n):
    for j in range(n-i):
        print(" ",end=" ")
    for k in range(2*i-1):
        print("*",end=" ")
    print()

      *
    * * *
  * * * * *

In [8]:
n=4
for i in range(0,n):
    for j in range(i,0,-1):
        print(" ",end=" ")
    for k in range(2*n-2*i-1):
        print("*",end=" ")
    print()

* * * * * * *
  * * * * *
    * * *
      *

In [1]:
# Write a function, that replaces all vowels in a string with a specified vowel.
def func(str1):
    vowels="a,e,i,o,u"
    vowel="u"
    str2=""
    for i in str1:
        if i in vowels:
            str2+=vowel
        else:
            str2+=i
    return str2

func("apples and banana")

'upplus und bununu'

In [4]:
# Write a function that creates a dictionary with each (key, value) pair being the 
# (lowercase, upper case) versions of a letter, respectively.
def func1(list1):
    d1={}
    for i in list1:
        if i not in d1:
            d1[i]=chr(ord(i)-32)
    return d1

func1(['s','v'])

{'s': 'S', 'v': 'V'}

In [13]:
# Create a function that validates whether three given integers form a Pythagorean triplet. 
# The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.
def func3(a,b,c):
    if(a>b and a>c):
        if(b**2 + c**2 == a**2):
            return True
        else:
            return False
    elif(b>a and b>c):
        if(a**2 + c**2 == b**2):
            return True
        else:
            return False
    elif(c>a and c>b):
        if(a**2 + b**2 == c**2):
            return True
        else:
            return False
    else:
        return False

func3(1,2,3)

False

In [39]:
# Create a function that takes a list of strings and return a list, sorted from shortest to longest.
def func4(l3):
     for i in range(0,len(l3)):
         for j in range(i+1,len(l3)):
             if len(l3[i]) > len(l3[j]):
                 l3[i],l3[j] = l3[j],l3[i]
     return l3

func4(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']