In [2]:
# Second largest element in the list
mylist=[12,11,19,90,32,87,1]
max1=mylist[0]
max2=mylist[0]
for i in mylist:
    if i>max1:
        max2=max1
        max1=i
    elif i>max2 and i!=max1:
        max2=i
print(f"largest element in the list {max1} , second largest element in the list {max2}")

largest element in the list 90 , second largest element in the list 87

In [10]:
n=4
for i in range(n,0,-1):
    for j in range(1,2*n):
        if(j==n-i+1 or j==n+i-1 or i==n):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*******
 *   *
  * *
   *

In [13]:
str1='shivangi'
str2='shaily'
count1={}
count2={}
for i in str1:
    if i in count1:
        count1[i]+=1
    else:
        count1[i]=1
for i in str2:
    if i in count2:
        count2[i]+=1
    else:
        count2[i]=1
count3=0
for i in count1:
    if i in count2:
        count3+=min(count1[i],count2[i])
print(count3)

4

In [22]:
mylist=[1,2,2,3,4,4,5,6,6,7]
duplicates=[]
unique=[]
for i in mylist:
    if i in unique and i not in duplicates:
        duplicates.append(i)
    else:
        unique.append(i)
print(duplicates)

[2, 4, 6]

In [24]:
mylist=[1,2,3,4,5]
sum1=0
newlist=[]
for i in mylist:
    sum1+=i
    newlist.append(sum1)
print(newlist)

[1, 3, 6, 10, 15]

In [33]:
# list is monotonic or not
mylist=[40,30,20,10]
inc=True
dec=True
for i in range(1,len(mylist)):
    if mylist[i]>mylist[i-1]:
        dec=False
    elif mylist[i]<mylist[i-1]:
        inc=False
mono=inc or dec
print(mono)

True

In [34]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i*2-1,end=" ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [35]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i*2,end=" ")
    print()

2
4 4
6 6 6
8 8 8 8
10 10 10 10 10

In [ ]:
# Rotate array